<section class="random">

    
            {{#each this}}

<img src="{{this.image_url}}"/>
    <p> {{ this.name }} </p>
    <p> {{ this.description }} </p>
    <p> {{ this.tagpne }} </p>
    <p> {{ this.food_pairing }} </p>
    <p> {{ this.brewers_tips }} </p>
        {{/each}}




</section>